[Unit]
Description=Battery notifier timer

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1sec
Persistent=false

[Install]
WantedBy=default.target
